/.idea/
composer.phar
.env
.DS_Store

# Docker
/docker/mysql/lib/

# Symfony
/shop/web/bundles/
/shop/app/bootstrap.php.cache
/shop/app/cache/*
/shop/app/config/parameters.yml
/shop/app/logs/*
/shop/app/phpunit.xml
/shop/build/
/shop/vendor/
/shop/bin/

!.gitkeep
